body { 
    margin: 0;  
}

.app {
    display: flex;
}

.users {
    width: 200px;
}

.content {
    flex-grow: 1;
}

#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    margin: 0.25rem; 
}

#form > button { 
    background: #333; 
    border: none; padding: 0 1rem; 
    margin: 0.25rem; border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li.notif { 
    padding: 0.1rem 1rem; 
    color: #666666 
}

#users { 
    list-style-type: none; 
    margin: 0; 
    padding: 1rem 0 0 0; 
}

#users > li { 
    padding: 0.2rem 0.5rem; 
}